/* Custom Syntax Highlighting CSS Using XCode as a Base /*

/* Background */ .bg { background-color: #ffffff }
/* PreWrapper */ .chroma { background-color: #ffffff; }
/* Other */ .chroma .x {  }
/* Error */ .chroma .err { color: #000000 }
/* CodeLine */ .chroma .cl {  }
/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; }
/* LineHighlight */ .chroma .hl { background-color: #ffffcc }
/* LineNumbersTable */ .chroma .lnt { white-space: pre; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* LineNumbers */ .chroma .ln { white-space: pre; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* Line */ .chroma .line { display: flex; }
/* Keyword */ .chroma .k { color: #A83B98 }
/* KeywordConstant */ .chroma .kc { color: #A83B98 }
/* KeywordDeclaration */ .chroma .kd { color: #A83B98 }
/* KeywordNamespace */ .chroma .kn { color: #A83B98 }
/* KeywordPseudo */ .chroma .kp { color: #A83B98 }
/* KeywordReserved */ .chroma .kr { color: #A83B98 }
/* KeywordType */ .chroma .kt { color: #A83B98 }
/* Name */ .chroma .n { color: #000000 }
/* NameAttribute */ .chroma .na { color: #0B6E4F }
/* NameBuiltin */ .chroma .nb { color: #A83B98 }
/* NameBuiltinPseudo */ .chroma .bp { color: #694299 }
/* NameClass */ .chroma .nc { color: #3f6e75 }
/* NameConstant */ .chroma .no { color: #000000 }
/* NameDecorator */ .chroma .nd { color: #000000 }
/* NameEntity */ .chroma .ni { color: #000000 }
/* NameException */ .chroma .ne { color: #000000 }
/* NameFunction */ .chroma .nf { color: #000000 }
/* NameFunctionMagic */ .chroma .fm { color: #000000 }
/* NameLabel */ .chroma .nl { color: #000000 }
/* NameNamespace */ .chroma .nn { color: #000000 }
/* NameOther */ .chroma .nx { color: #000000 }
/* NameProperty */ .chroma .py { color: #000000 }
/* NameTag */ .chroma .nt { color: #000000 }
/* NameVariable */ .chroma .nv { color: #000000 }
/* NameVariableClass */ .chroma .vc { color: #000000 }
/* NameVariableGlobal */ .chroma .vg { color: #000000 }
/* NameVariableInstance */ .chroma .vi { color: #000000 }
/* NameVariableMagic */ .chroma .vm { color: #000000 }
/* Literal */ .chroma .l { color: #386DCF }
/* LiteralDate */ .chroma .ld { color: #386DCF }
/* LiteralString */ .chroma .s { color: #CF3E3C }
/* LiteralStringAffix */ .chroma .sa { color: #CF3E3C }
/* LiteralStringBacktick */ .chroma .sb { color: #CF3E3C }
/* LiteralStringChar */ .chroma .sc { color: #386DCF }
/* LiteralStringDelimiter */ .chroma .dl { color: #CF3E3C }
/* LiteralStringDoc */ .chroma .sd { color: #CF3E3C }
/* LiteralStringDouble */ .chroma .s2 { color: #CF3E3C }
/* LiteralStringEscape */ .chroma .se { color: #CF3E3C }
/* LiteralStringHeredoc */ .chroma .sh { color: #CF3E3C }
/* LiteralStringInterpol */ .chroma .si { color: #CF3E3C }
/* LiteralStringOther */ .chroma .sx { color: #CF3E3C }
/* LiteralStringRegex */ .chroma .sr { color: #CF3E3C }
/* LiteralStringSingle */ .chroma .s1 { color: #CF3E3C }
/* LiteralStringSymbol */ .chroma .ss { color: #CF3E3C }
/* LiteralNumber */ .chroma .m { color: #386DCF }
/* LiteralNumberBin */ .chroma .mb { color: #386DCF }
/* LiteralNumberFloat */ .chroma .mf { color: #386DCF }
/* LiteralNumberHex */ .chroma .mh { color: #386DCF }
/* LiteralNumberInteger */ .chroma .mi { color: #386DCF }
/* LiteralNumberIntegerLong */ .chroma .il { color: #386DCF }
/* LiteralNumberOct */ .chroma .mo { color: #386DCF }
/* Operator */ .chroma .o { color: #000000 }
/* OperatorWord */ .chroma .ow { color: #000000 }
/* Punctuation */ .chroma .p {  }
/* Comment */ .chroma .c { color: #177500 }
/* CommentHashbang */ .chroma .ch { color: #177500 }
/* CommentMultiline */ .chroma .cm { color: #177500 }
/* CommentSingle */ .chroma .c1 { color: #177500 }
/* CommentSpecial */ .chroma .cs { color: #177500 }
/* CommentPreproc */ .chroma .cp { color: #633820 }
/* CommentPreprocFile */ .chroma .cpf { color: #633820 }
/* Generic */ .chroma .g {  }
/* GenericDeleted */ .chroma .gd {  }
/* GenericEmph */ .chroma .ge {  }
/* GenericError */ .chroma .gr {  }
/* GenericHeading */ .chroma .gh {  }
/* GenericInserted */ .chroma .gi {  }
/* GenericOutput */ .chroma .go {  }
/* GenericPrompt */ .chroma .gp {  }
/* GenericStrong */ .chroma .gs {  }
/* GenericSubheading */ .chroma .gu {  }
/* GenericTraceback */ .chroma .gt {  }
/* GenericUnderline */ .chroma .gl {  }
/* TextWhitespace */ .chroma .w {  }
