/* title */

/* remove styling from title block partial */
#title-block-header, #title-block-header-title {
  all: unset;
  background-image: none !important;
}

/* page title  */
#title-block-header.quarto-title-block.default .quarto-title .title {
  font-size: 2.5em;
  text-align: center;
  margin: 0.5em 0 0.5em 0;
}

/* text below page title */
.description p {
  text-align: center; 
  /* margin: 0 1em 3em 1em; */
  margin: 0 auto;
  padding: 1.5em 0 3em 0;
  width: 600px;
}

.description a {
  text-decoration: underline !important;
}

.description a:hover {
  text-decoration: none !important;
}

/* listing cards  */
.card {
  background: transparent;
  border: none;
  border-radius: 4px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

.card-img {
    border-radius: 8px 8px 0px 0px;
}

/* Mobile */

@media screen and (max-width: 991.98px) {
  /* text below page title */
  .description p {
    width: 300px;
  }
}